.project_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
  animation: showList 0.7s linear;
}

.project_item {
  position: relative;
  display: flex;
  flex-direction: column;
  animation: slide 10s infinite linear;
  justify-content: center;
}

.project_item img {
  object-fit: cover;
  width: 480px;
  height: 400px;
}

.project_item p {
  position: relative;
  display: inline-block;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 12px;
  height: 0;
  width: fit-content;
  background: linear-gradient(to top, #121212, rgba(0, 255, 255, 0.267));
  backdrop-filter: blur(5px);
  color: #fff;
  display: flex;
  align-items: flex-start;
  justify-content: end;
  flex-direction: column;
  border-radius: 12px;
  opacity: 0;
  overflow: hidden;
  transition: height 0.3s ease, opacity 0.3s ease;
}

.overlay h3 {
  font-size: 20px;
  color: #66f1e1;
}

.overlay .spans {
  display: flex;
  gap: 1.2em;
}

.overlay .spans span {
  border-radius: 30px;
  padding: 8px;
  font-size: 13px !important;
  color: #333;
  font-size: 20px;
  background-color: #66f1e1;
  font-weight: bold;
}

.overlay .spans span:hover {
  transform: scale(1.2);
  cursor: default;
  transition: 0.2s;
}

.project_item:hover .overlay {
  height: 100%;
  opacity: 1;
  border: 1px solid #66f1e1;
}

.github-link {
  position: absolute;
  top: -70px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  right: 20px;
  width: 40px;
  height: 40px;
  transition: all 0.3s ease;
}
.project_item:hover .github-link {
  top: 20px;
}

.github-link:hover {
  transition: top 0.3s ease;
  transform: scale(1.2);
}

@keyframes showList {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 2;
  }
}

@media (max-width: 520px) {
  .project_list {
    margin-top: 100px;
  }

  .project_item img {
    width: 100%;
    height: auto;
  }
}
