.main_section {
  position: relative;
  height: 80vh;
  display: flex;
  flex-direction: column;
}

.main_section .text {
  padding: 20px;
}

.main_section .text h1 {
  font-size: 4.8rem;
  font-family: "Inter", sans-serif;
  color: #66f1e1;
}

.text .magician {
  color: #c6c6c6ab;
  font-size: 24px;
  word-spacing: 4px;
  animation: textAnimation 2s linear;
}

.text button {
  background-color: transparent;
  border: 1px solid #0ca8ac;
  color: #fff;
  padding: 24px 24px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.text button::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0d879f;
  transform: scaleX(0);
  transform-origin: 0 60%;
  transition: transform 0.2s ease-out;
}

.text button:hover::before {
  transform: scaleX(1);
}

.second_hero {
  display: flex;
  max-width: 600px;
  flex-wrap: wrap;
  position: absolute;
  right: 0;
  bottom: 0;
}

.second_hero span {
  position: relative;
  width: 40px;
  height: 40px;
  display: block;
}

.second_hero span::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0ca8ac;
  transform: scale(0.1);
  box-shadow: 0 10px 30px #0effe3;
  transition: 2s;
  border-radius: 30px;
}

.second_hero span:hover::before {
  transform: scale(1);
  transition: 0s;
}

.scroll {
  position: absolute;
  right: 60px;
  transform: rotate(90deg);
  color: #66f1e1;
  font-size: 20px;
}

.scroll p {
  animation: scroll 2s infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  80% {
    transform: translateX(40px);
  }

  100% {
    transform: translateX(0);
  }
}

@media (max-width: 893px) {
  .main_section .text h1 {
    font-size: 3.8rem;
  }

  main {
    margin: 7em;
  }
}

@media (max-width: 768px) {
  .main_section {
    position: relative;
    height: 108vh;
  }

  .scroll {
    right: 0;
    top: -60px;
  }
}
@media (max-width: 425px) {
  /* .second_hero {
    display: none;
  } */

  .about_section .logo_list {
    max-width: 300px;
    grid-template-columns: repeat(2, 1fr);
  }

  .about_section .logo_list img {
    width: 130px;
    height: 130px;
  }
  main {
    margin: 2em;
  }
  .about_text h1 {
    font-size: 3.8em;
  }
  .main_section .text h1 {
    font-size: 2.8rem;
  }
  .scroll {
    right: -80px;
    top: 30px;
  }
  .main_section {
    height: 120vh;
  }
}

@media (max-width: 375px) {
  .main_section {
    height: 130vh;
  }
}
