.skills_section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  overflow: hidden;
}

.skills_section .skill_text h1 {
  color: aqua;
  font-size: 3.8em;
}

.skills_section .skill_text p {
  color: #fff;
  font-size: 18px;
  line-height: 26px;
}

.skills_section .skill_text a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

.skills_section .skill_text .lnk {
  color: aqua;
  cursor: pointer;
  position: relative;
}

.skills_section .skill_text .lnk::before {
  content: "";
  position: absolute;
  top: 20px;
  width: 0;
  height: 20px;
  background-color: aqua;
  transition: 0.4s;
}

.skills_section .skill_text .lnk:hover::before {
  width: 100%;
}
