.navigation_sidebar {
  background-color: #041e29;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 90px;
}

.navigation_sidebar p {
  color: #0d879f;
}

.navigation_sidebar img {
  width: 100px;
  height: auto;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 20px;
  margin-bottom: 160px;
  gap: 2em;
}

.menu li a {
  color: #fff;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-bottom: 1px solid transparent;
  font-size: 16px;
  width: 20px;
  padding-bottom: 12px;
}

.menu li a:hover {
  border-bottom: 1px solid #66f1e1;
  color: #66f1e1;
  transition: 0.3s;
  width: 60px;
}

.menu li a svg {
  font-size: 1.6rem;
  color: #fff !important;
}

.icons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2em;
  margin-bottom: 60px;
}
.icons a {
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

.icons a:hover {
  color: #66f1e1;
  transition: 0.3s;
  transform: scale(1.3);
}

.open_menu_btn {
  display: none;
  padding: 60px;
  position: absolute;
  top: 0;
  z-index: 40;
}

.navigation_sidebar.show {
  opacity: 2;
  transition: 0.2s;
  width: 100%;
  z-index: 20;
  overflow: auto;
}

.navigation_sidebar.hide {
  opacity: 0;
  transition: 0.2s;
}

@media (max-width: 768px) {
  .open_menu_btn {
    display: block;
  }

  .menu li a svg {
    font-size: 40px;
  }

  .navigation_sidebar p {
    font-size: 30px;
  }

  .navigation_sidebar img {
    width: 200px;
  }

  .icons a {
    font-size: 34px;
  }
}
