.loading-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background: #041e29;
  animation: overlay-fade-out 1.2s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@keyframes overlay-fade-out {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 2;
  }
}

.wl_text {
  color: #fff;
  font-weight: bold;
  font-family: tahoma;
  font-size: 3rem;
  line-height: 1.5;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  width: 600px;
  padding: 40px;
}

.message {
  background-color: #66f1e1;
  color: #333;
  display: block;
  font-weight: 900;
  overflow: hidden;
  position: absolute;
  padding-left: 0.5rem;
  top: 0.2rem;
  left: 270px;
  animation: text 3s ease-in-out infinite;
}

@keyframes text {
  0% {
    top: 0.2rem;
    width: 0;
  }
  5% {
    width: 0;
  }
  15% {
    width: 230px;
  }
  30% {
    top: 0.2rem;
    width: 230px;
  }
  33% {
    top: 0.2rem;
    width: 0;
  }
  35% {
    top: 0.2rem;
    width: 0;
  }
  38% {
    top: -4.5rem;
  }
  48% {
    top: -4.5rem;
    width: 190px;
  }
  62% {
    top: -4.5rem;
    width: 190px;
  }
  66% {
    top: -4.5rem;
    width: 0;
    text-indent: 0;
  }
  71% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }
  86% {
    top: -9rem;
    width: 285px;
  }
  95% {
    top: -9rem;
    width: 285px;
  }
  98% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }
  100% {
    top: 0;
    width: 0;
    text-indent: 0;
  }
}

@media (max-width: 543px) {
  .wl_text {
    right: 170px;
  }

  .loading-overlay {
    width: 138%;
  }
}
